<app-menu></app-menu>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="Title">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Profile</ion-title>
      </ion-toolbar>
    </ion-header>
    <div id="container">
      <div class="profile-card-container">
        <div class="profile-card-inner-container">
          <div class="top-section">
            <strong>Raditya</strong>
            <div class="hidden-div">TES</div>
          </div>
          <div class="middle-section">
            <a target="_blank" href="https://radityaherkristito.com">
              <img
                src="https://media.licdn.com/dms/image/v2/D5603AQFcRTXhOLCuBQ/profile-displayphoto-shrink_200_200/B56ZP8_WpfHoAY-/0/1735116287757?e=1742428800&v=beta&t=wOdKz8bII94vj1vKS3nVMOaZ4jIMA9tLnMJtwhJQRGY"
                alt="Profile Picture"
              />
            </a>
          </div>
          <div class="bottom-section">
            <div class="hidden-div">TES</div>
            <strong>Herkristito</strong>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>
