/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.Title {
  text-align: center;
}

.Title a {
  text-decoration: none;
}

#container {
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.records {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 1023px) {
  .records {
    flex-direction: column;
  }

  .records ion-item {
    width: 100%;
  }

  #container {
    padding: 8px;
    gap: 0px;
  }
  .records {
    gap: 8px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
}

ion-badge.badge-grass {
  background-color: #78c850;
  color: white;
}

ion-badge.badge-fire {
  background-color: #f08030;
  color: white;
}

ion-badge.badge-water {
  background-color: #6890f0;
  color: white;
}

ion-badge.badge-electric {
  background-color: #f8d030;
  color: black;
}

ion-badge.badge-flying {
  background-color: #a890f0;
  color: white;
}

ion-badge.badge-normal {
  background-color: #a8a878;
  color: black;
}

ion-badge.badge-ground {
  background-color: #6e6e10;
  color: white;
}

ion-badge.badge-bug {
  background-color: #255d25;
  color: white;
}

ion-badge.badge-rock {
  background-color: #3d3d3d;
  color: white;
}

ion-badge.badge-ghost {
  background-color: #b2b2b2;
  color: black;
}

ion-badge.badge-steel {
  background-color: #7f7f7f;
  color: white;
}

ion-badge.badge-psychic {
  background-color: #9f278b;
  color: white;
}

ion-badge.badge-ice {
  background-color: #1edcea;
  color: black;
}

ion-badge.badge-dragon {
  background-color: #a70303;
  color: white;
}

ion-badge.badge-dark {
  background-color: #191515;
  color: white;
}

ion-badge.badge-stellar {
  background-color: #ff00c3;
  color: black;
}

ion-badge.badge-poison {
  background-color: rgb(198, 4, 4);
  color: white;
}

ion-badge.badge-fairy {
  background-color: rgb(198, 4, 140);
  color: white;
}

ion-badge.badge-fighting {
  background-color: rgb(195, 148, 94);
  color: white;
}

ion-badge.badge-default {
  background-color: #d3d3d3;
  color: black;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-card-subtitle {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background: #cc0808;
}

.header-image-container {
  border-start-start-radius: 999px;
  border-end-end-radius: 999px;
  background-color: white;
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: max-content;
}

.header-image {
  width: 100px;
  height: 100px;
}

.header-image-default-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image-default {
  width: 50px;
  height: 50px;
}

.header-rank {
  color: rgb(0, 0, 0);
  background-color: #fcc200;
  padding: 8px;
  height: max-content;
  border-bottom-right-radius: 8px;
}

.stats-rank {
  color: rgb(0, 0, 0);
  background-color: #fcc200;
  padding: 8px;
  height: max-content;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
}

.stats-rank-right {
  color: rgb(0, 0, 0);
  background-color: #1d1b17;
  padding: 8px;
  height: max-content;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}

.stats-header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stats-container {
  background-color: #cc0808;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 80%;
  margin-top: 100px;
  border-radius: 20px;
}

.stats-details {
  height: 100%;
  border: 1px solid black;
  width: 100%;
  background-color: white;
  border-start-start-radius: 999px;
  border-start-end-radius: 999px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
  gap: 4px;
  flex-direction: column;
}

.stats-number {
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding: 2px;
}

@media screen and (max-width: 767px) {
  .stats-number {
    width: 70%;
  }
}

@media screen and (max-width: 435px) {
  .stats-number {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .stats-number {
    width: 100%;
  }
}

.error-message {
  color: #cc0808;
}

.pokemon-image {
  width: 150px;
  height: 150px;
  margin-top: -100px;
}

.hidden-div {
  opacity: 0;
}

progress {
  border-radius: 8px;
  overflow: hidden;
}

progress::-webkit-progress-value {
  background-color: #4caf50;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.go-home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
